@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Cinzel&family=Inconsolata:wght@200&display=swap');


* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    width:100%;
    display:flex;
    flex-direction: column;
    background-color: #3498db;
}

header {
    background-color: #f1c40f;
    color:#9b59b6;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100px;
    margin-bottom:2em;
}

header h1 {
    font-family: 'Butterfly Kids', cursive;
    font-size: 3.3em;
    margin: 1.5em;
}

h2 {
    color: #fff; 
    font-size: 1.5em;
    justify-content: center;
    margin-bottom: 1.5em;
}

nav {
    background-color: #3498db;
    background-image: url(../images/numbers.png);
    margin: 1em;
    
}

nav ul {
    display:flex;
    list-style: none;
    gap: 2em;
    justify-content: center;
    padding-bottom: 2em;
    
}

nav a {
    
    display: flex;
    height: 40px;
    align-items: center;
    padding: 1em;
    color: yellow;
    font-weight:bold;
    text-decoration:none;
    font-size:1.4em;
    transition: 0.5s;
}

nav a:hover{
    color:silver;
}

body {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}

.game {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    width:300px;
    height:400px;
    background-color:slategrey;
}

.input {
    border:2px;
    border-color: silver;
    border-style:solid;
    background-color:aliceblue;
    width: 110px;
    height: 150px;
    justify-content: center;
    font-size: 3em;
    color:black;
    text-align:center;
    cursor: pointer;
}

.container {
    width:300;
    height:75;
}

.cell{
    flex-direction: row;
    float:left;
    border: 1px;
    border-style:dotted;
    border-radius:12px;
    background-color: aliceblue;
    margin: 0.5em;
    width:40px;
    height:25px;
}

.message {
    background-color: darkblue;
    margin-top: 1em;
    border: 2px;
    border-color: white;
    border-style:solid;
    width:280px;;
    height:60px;
    justify-content: center;
    color:whitesmoke;
    font-size:1.5em;
}

.guess {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:aliceblue;
    border:2px;
    border-color: black;
    border-style:solid;
    color: black;
    width:150px;
    height:50px;
    transition: 0.5s;
    cursor: pointer;
}

.guess:hover{
    transform:scale(1.05);
}

.input:hover {
    border: 2px;
    border-color: black;
    border-style: solid;
}

figure {
    float: right;
    padding:1em;
}

figure cite {
    display:block;
    margin-right: 1em;
    margin-left: 1em;
}

figure img{
    width:250px;
}

footer {
    color: #fff;
    width:100%;
    padding-top: 0.5em;
}